.character-setup-modal {
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.selection-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-length);
    width: 90%;
    height: 60%;
}

.selection-rows {
    margin: auto
}

.selection-row {
    --gap-length: 10px;
    display: flex;
    gap: var(--gap-length)
}

.selection-row.bottom {
    padding-left: calc(calc(var(--token-diameter, 60px) / 2) + calc(var(--gap-length, 10px) / 2))
}

.selected {
    filter: sepia(100%) saturate(300%) hue-rotate(190deg)
}