.token-list {
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
    gap: 8px
}

.row {
    display: flex;
    gap: 2%;
    align-items: center;
    justify-content: center;
}