.token-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.token-circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: grey;
    cursor: pointer;
    overflow: hidden;
}

.token-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}