.token-circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    outline-width: 2px;
    outline-style: dashed;
    cursor: pointer;
    overflow: hidden;
}

.token-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}